fieldset
{
    width: auto;
    border-width: 1px;
    border-collapse: collapse;
    border-style: solid;
    border-color: #000;
    clear: both;
    page-break-inside:avoid;
    margin-bottom: 0px;
    margin-top: 0px;
}
table
{
  width: 100%;
  padding: 0px;
}
tr
{
  padding: 0px;
  margin: 0px;
}
td
{
  padding: 0px;
  margin: 0px;
}
legend
{
  font-size: 8px;
  font-weight: bold;
}
.logoHUCFF
{
  background-image: url(imagens/logoHUCFF.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
  width: 100px;
  height: 100px;
  float: left;
}
.cabecalho
{
  width: 500px;
  padding: 0px;
  float: left;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}
.campo
{
  height: 12px;
  padding:0 px;
  padding-top: 10px;
  padding-left:4px;
  margin-bottom:3px;
  margin-top: 0px;
}
.obs
{
  height: 30px;
}
.campo label
{
  font-size: 10px;
}
.campoCarimbo
{
  height: 40px;
}
.tamanhoReduzido
{
  width:100px;
}
.titulo
{
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #FFF;
}

.tabelaCaracterizacao
{
    width: 700px;
    margin: 0px;
    padding: 0px;
}

.tabelaCaracterizacao th, .tabelaCaracterizacao td
{
  width: 50px;
}

.tabelaCaracterizacao, .tabelaCaracterizacao th, .tabelaCaracterizacao td
{
    padding: 0px;
    margin: 0;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.tabelaCaracterizacao tr:nth-child(even)
{
    background-color: #fff;
}

.tabelaCaracterizacao tr:nth-child(odd)
{
    background-color:#CCC;
}

.tabelaCaracterizacao tr:nth-child(odd) td input
{
    background-color: #CCC;
}

.tabelaCaracterizacao tr:nth-child(even) td input
{
    background-color:#fff;
}

.tabelaCaracterizacao input
{

    margin-top: 0px;
    padding: 0px;
    border-width: 0px;
    width: 50px;
    text-align: center;
}

.tabelaCaracterizacao th
{
    background-color: #000;
    color: white;
}
